In [1]:
#Import Libraries
import pandas as pd
import numpy as np

In [2]:
#Load Dataset
data = pd.read_csv('data.csv')
data.head()

,Name,Department,Job Title (as of 12/31/23),Total Cash Compensation,Base Pay,Overtime,Sick and Vacation Payouts,Other Cash Compensation,Defined Contribution Plan Contributions - City Paid,Medical Dental Vision,Retirement Contributions (Normal Cost) - City Paid,"Long Term Disability, Life, Medicare",Misc Employment Related Costs
0,Maximillian Duenas,Fire,Fire Captain,"620,986.55","180,574.29","436,373.06",NaN,"4,039.20",NaN,"22,116.00","60,712.75","8,942.92",NaN
1,Galvin Charekian,Fire,Fire Captain,"505,127.13","180,574.29","309,358.34",NaN,"15,194.50",NaN,"22,116.00","61,058.80","7,295.65",NaN
2,Ali Miri,Police,Police Lieutenant,"457,417.50","201,148.00","218,841.40",NaN,"37,428.10",NaN,"22,116.00","71,198.76","6,631.66",NaN
3,Martin Mora,Fire,Fire Engineer,"453,006.39","157,370.85","291,596.34",NaN,"4,039.20",NaN,"22,116.00","53,034.70","6,495.84",NaN
4,Spencer Piercy,Fire,Fire Engineer,"446,067.98","157,370.85","287,852.25",NaN,844.88,NaN,"9,899.52","24,354.92","6,503.44",NaN

In [3]:
data.isnull().any()

Name                                                   False
Department                                             False
Job Title (as of 12/31/23)                             False
Total Cash Compensation                                False
Base Pay                                                True
Overtime                                                True
Sick and Vacation Payouts                               True
Other Cash Compensation                                 True
Defined Contribution Plan Contributions - City Paid     True
Medical Dental Vision                                   True
Retirement Contributions (Normal Cost) - City Paid      True
Long Term Disability, Life, Medicare                    True
Misc Employment Related Costs                           True
dtype: bool

In [4]:
data = data.drop(columns=['Defined Contribution Plan Contributions - City Paid',
                   'Medical Dental Vision',
                   'Retirement Contributions (Normal Cost) - City Paid',
                   'Long Term Disability, Life, Medicare',
                   'Misc Employment Related Costs'])

In [7]:
# Handle missing values
data.fillna(0, inplace=True)
data

,Name,Department,Job Title (as of 12/31/23),Total Cash Compensation,Base Pay,Overtime,Sick and Vacation Payouts,Other Cash Compensation
0,Maximillian Duenas,Fire,Fire Captain,"620,986.55","180,574.29","436,373.06",0,"4,039.20"
1,Galvin Charekian,Fire,Fire Captain,"505,127.13","180,574.29","309,358.34",0,"15,194.50"
2,Ali Miri,Police,Police Lieutenant,"457,417.50","201,148.00","218,841.40",0,"37,428.10"
3,Martin Mora,Fire,Fire Engineer,"453,006.39","157,370.85","291,596.34",0,"4,039.20"
4,Spencer Piercy,Fire,Fire Engineer,"446,067.98","157,370.85","287,852.25",0,844.88
...,...,...,...,...,...,...,...,...
8641,Sammy Aguirre,Environmental Services,Water Systems Operator I,12.52,0,0,12.52,0
8642,Jazmin Delgado,Public Works,Animal Care Attendant I PT,7.80,0,0,7.80,0
8643,Marissa Boyd,Parks/Rec & Neigh Serv P R N S,Recreation Leader PT,6.61,6.61,0,0,0
8644,Adriana Imbre,Environmental Services,Assoc Environ Serv Spec,2.77,0,0,2.77,0
8645,Roman Bodnarchuk,Fire,Firefighter Recruit,1.75,0,0,1.75,0

In [8]:
# Separate features and target
X = data.drop(columns=['Total Cash Compensation', 'Name'])
y = data['Total Cash Compensation']

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [27]:
# Remove commas from numerical columns and convert to float
numerical_columns = [

'Name',	'Department'	,'Job Title (as of 12/31/23)',	'Total Cash Compensation'	,'Base Pay'	,'Overtime'
	,'Sick and Vacation Payouts'	,'Other Cash Compensation'

]

for col in numerical_columns:
    data[col] = data[col].astype(str).str.replace(',', '').astype(float)

# Separate features and target
X = data.drop(columns=['Total Cash Compensation', 'Name'])
y = data['Total Cash Compensation']

# Identify categorical and numerical features
categorical_features = ['Department', 'Job Title (as of 12/31/23)']
numerical_features = X.select_dtypes(include=[np.number]).columns.tolist()

# One-hot encode categorical features
encoder = OneHotEncoder(handle_unknown='ignore')
X_encoded = encoder.fit_transform(X[categorical_features]).toarray()

# Convert encoded features to DataFrame
encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(categorical_features))

ValueError: could not convert string to float: 'Maximillian Duenas'